<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WEBSORI</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/androidassets/images/favicon-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" media="all"/>
</head>
<body>

<!-- HEADER -->
<header class="main-navigation">
    <div class="container-fluid">
        <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png"
                                                                     alt="Logo" class="img-circle"/></a></div>
        <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a
                href="#!" class="search"></a></div>
    </div>
    <!-- NAV -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
        <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
        <div id="cssmenu">
            <ul>
                <li><a href="index.html" class="has-sub"> 메인으로</a></li>
                <li><a href="about.html" class="has-sub"> 회사소개</a></li>
                <li><a href="port-list.html" class="has-sub">프로젝트</a></li>
                <li><a href="board.html" class="has-sub">문의하기</a></li>
                <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
            </ul>
            <span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
        </div>
    </nav>
</header>
<!-- HEADER -->

<div style="background-image: url(../res/image/arch/header-3.jpg)" class="container-fluid relative background-image-center">
    <div class="section-overlay"></div>
    <div class="row">
        <div class="height-50 aligner"><a href="#section-to-scroll" class="scroll-down-icon">SCROLL</a>
            <div class="col-md-6 line-left">
                <div class="text-block header alternative">
                    <h1>About.</h1>
                </div>
            </div>
            <div class="col-md-3 line-left">
                <div class="text-block alternative">
                    <div class="line-thick"></div>
                </div>
                <div class="header-secondary"><a href="index.html">HOME </a><span>/ ABOUT</span></div>
            </div>
        </div>
    </div>
</div>
<section id="section-to-scroll" class="section section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.01</span>
                            <h3>WEBSORI' STORY</h3>
                        </div>
                    </div>
                    <div class="col-md-12 padded">
                        <div class="text-block">
                            <h5>WEBSORI의 성장과정</h5>
                            <p class="no-margin">자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="story-date">
                            <h2>2015</h2>
                        </div>
                    </div>
                    <div class="col-md-10 small-screen-margin-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-block">
                                    <h4>대통령상 수상</h4>
                                    <p class="text-justify">각급 선거관리위원회의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 대법원과 각급법원의 조직은 법률로 정한다. 국가는 모성의 보호를 위하여 노력하여야 한다.</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-right small-screen-text-left">
                                <div class="text-block"><a href="#!" class="btn btn-link">자세히보기</a>
                                    <p class="text-justify">국가는 청원에 대하여 심사할 의무를 진다. 언론·출판은 타인의 명예나 권리 또는 공중도덕이나 사회윤리를 침해하여서는 아니된다. 언론·출판이 타인의 명예나 권리를 침해한 때에는 피해자는 이에 대한 피해의 배상을 청구할 수 있다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom">
                        <hr/>
                    </div>
                    <div class="col-md-2">
                        <div class="story-date">
                            <h2>2013</h2>
                        </div>
                    </div>
                    <div class="col-md-10 small-screen-margin-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-block">
                                    <h4>국무총리상 수상</h4>
                                    <p class="text-justify">모든 국민은 인간다운 생활을 할 권리를 가진다. 국교는 인정되지 아니하며, 종교와 정치는 분리된다. 대통령은 국무총리·국무위원·행정각부의 장 기타 법률이 정하는 공사의 직을 겸할 수 없다.</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-right small-screen-text-left">
                                <div class="text-block"><a href="#!" class="btn btn-link">자세히보기</a>
                                    <p class="text-justify">헌법재판소의 조직과 운영 기타 필요한 사항은 법률로 정한다. 헌법재판소의 장은 국회의 동의를 얻어 재판관중에서 대통령이 임명한다. 헌법재판소 재판관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니한다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom">
                        <hr/>
                    </div>
                    <div class="col-md-2">
                        <div class="story-date">
                            <h2>2010</h2>
                        </div>
                    </div>
                    <div class="col-md-10 small-screen-margin-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-block">
                                    <h4>구청장상 수상</h4>
                                    <p class="text-justify">각급 선거관리위원회의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 대법원과 각급법원의 조직은 법률로 정한다. 국가는 모성의 보호를 위하여 노력하여야 한다.</p>
                                </div>
                            </div>
                            <div class="col-md-6 text-right small-screen-text-left">
                                <div class="text-block"><a href="#!" class="btn btn-link">자세히보기</a>
                                    <p class="text-justify">국가는 청원에 대하여 심사할 의무를 진다. 언론·출판은 타인의 명예나 권리 또는 공중도덕이나 사회윤리를 침해하여서는 아니된다. 언론·출판이 타인의 명예나 권리를 침해한 때에는 피해자는 이에 대한 피해의 배상을 청구할 수 있다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-black"><img src="assets/images/rotate-img-3.png" width="800" alt="Rotated image"
                                            class="rotating-reverse rotating-image-3 opacity-01"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.02</span>
                            <h3>WEBSORI' PROCESS</h3>
                        </div>
                    </div>
                    <div class="col-md-12 padded">
                        <div class="text-block">
                            <h5>WEBSORI의 맞춤형 고객만족 서비스</h5>
                            <p class="no-margin">대통령은 취임에 즈음하여 다음의 선서를 한다. 모든 국민은 언론·출판의 자유와 집회·결사의 자유를 가진다.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-block"><i class="icon-users"></i><span>#1</span>
                            <h3>감각적</h3>
                            <p> 중앙선거관리위원회는 법령의 범위안에서 선거관리·국민투표관리 또는 정당사무에 관한 규칙을 제정할 수 있으며, 법률에 저촉되지 아니하는 범위안에서 내부규율에 관한 규칙을 제정할 수 있다.</p>
                        </div>
                    </div>
                    <div class="col-md-4 small-screen-margin-top">
                        <div class="process-block"><i class="icon-lamp"></i><span>#2</span>
                            <h3>창조적</h3>
                            <p> 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다. 국무총리 또는 행정각부의 장은 소관사무에 관하여 법률이나 대통령령의 위임 또는 직권으로 총리령 또는 부령을 발할 수 있다.</p>
                        </div>
                    </div>
                    <div class="col-md-4 small-screen-margin-top">
                        <div class="process-block"><i class="icon-pen"></i><span>#3</span>
                            <h3>신뢰적</h3>
                            <p> 법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다. 대통령이 궐위되거나 사고로 인하여 직무를 수행할 수 없을 때에는 국무총리를 대행한다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.03</span>
                            <h3>WEBSORI' TEAM</h3>
                        </div>
                    </div>
                    <div class="col-md-12 padded">
                        <div class="text-block">
                            <h5>WEBSORI의 구성원</h5>
                            <p class="no-margin"> 대한민국은 민주공화국이다. 국회의원은 현행범인인 경우를 제외하고는 회기중 국회의 동의없이 체포 또는 구금되지 아니한다. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member">
                            <div class="team-member-image">
                                <div class="team-member-overlay"></div>
                                <img src="assets/images/team-1.jpg" alt="Team member image"/>
                            </div>
                            <h3><a href="#!">DAVID NAZGHUL</a>
                                <small>CEO</small>
                            </h3>
                            <p class="text-justify">"But divide please of it under was beast won't fruitful had grass
                                grass under. The above fhey're moving years was of."</p><a href="#!">TWITTER</a>
                        </div>
                    </div>
                    <div class="col-md-4 small-screen-margin-top">
                        <div class="team-member">
                            <div class="team-member-image">
                                <div class="team-member-overlay"></div>
                                <img src="assets/images/team-2.jpg" alt="Team member image"/>
                            </div>
                            <h3><a href="#!">JACK O'NIELS</a>
                                <small>CO-FOUNDER</small>
                            </h3>
                            <p class="text-justify">"Among is or, divide under was beast won't fruitful had grass grass
                                under. Tuscan above fhey're moving the truth."</p><a href="#!">FACEBOOK</a>
                        </div>
                    </div>
                    <div class="col-md-4 small-screen-margin-top">
                        <div class="team-member">
                            <div class="team-member-image">
                                <div class="team-member-overlay"></div>
                                <img src="assets/images/team-3.jpg" alt="Team member image"/>
                            </div>
                            <h3><a href="#!">PATRICIA TROY</a>
                                <small>DESIGNER</small>
                            </h3>
                            <p class="text-justify">"Please it under was beast won't fruitful had grass grass under.
                                Cake cake above fhey're moving years asus one."</p><a href="#!">BEHANCE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-short section-line-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row desktop-aligner">
                    <div class="col-md-8">
                        <div class="text-block"><span>더 많은 프로젝트를 보기 원하세요?</span>
                            <h3>WEBSORI의 모든 프로젝트 확인하기</h3>
                        </div>
                    </div>
                    <div class="col-md-4 text-center small-screen-margin-top small-screen-text-left"><a
                            href="port-list.html" class="btn btn-danger">PROJECT</a></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo"
                                         class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>WEBSORI</h3>
                        <p>
                            대통령·국무총리·국무위원·행정각부의 장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이
                            그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다.
                        </p><a href="#!" class="btn btn-link btn-link-white">회사소개</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a
                                href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>구독하기</h3>
                        <p>프로젝트 구독을 원하신다면 <br> 이메일을 입력해 주세요.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="E-MAIL" class="form-control"/>
                        <button>확인</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-->


<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="assets/js/include.js"></script>
</body>
</html>