<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WEBSORI</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/androidassets/images/favicon-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" media="all"/>
</head>
<body>

<!-- HEADER -->
<header class="main-navigation">
    <div class="container-fluid">
        <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png"
                                                                     alt="Logo" class="img-circle"/></a></div>
        <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a
                href="#!" class="search"></a></div>
    </div>
    <!-- NAV -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
        <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
        <div id="cssmenu">
            <ul>
                <li><a href="index.html" class="has-sub"> 메인으로</a></li>
                <li><a href="about.html" class="has-sub"> 회사소개</a></li>
                <li><a href="port-list.html" class="has-sub">프로젝트</a></li>
                <li><a href="board.html" class="has-sub">문의하기</a></li>
                <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
            </ul>
            <span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
        </div>
    </nav>
</header>
<!-- HEADER -->

<div style="background-image: url(../res/image/arch/header-6.jpg)"
     class="container-fluid relative background-image-center">
    <div class="section-overlay"></div>
    <div class="row">
        <div class="height-50 aligner"><a href="#section-to-scroll" class="scroll-down-icon">SCROLL</a>
            <div class="col-md-6 line-left">
                <div class="text-block header alternative">
                    <h1>Board.</h1>
                </div>
            </div>
            <div class="col-md-3 line-left">
                <div class="text-block alternative">
                    <div class="line-thick"></div>
                </div>
                <div class="header-secondary"><a href="index.html">HOME </a><span>/ BOARD</span></div>
            </div>
        </div>
    </div>
</div>
<section id="section-to-scroll" class="section section-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head">
                            <span>.01</span>
                            <h3>문의하기</h3>
                        </div>
                    </div>
                    <!-- COLLAPSE -->
                    <div class="col-md-8 col-md-offset-2">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">아파트</a> &middot; <a
                                    href="#!">11월 6일 2016년</a></span></div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">아파트 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 국가안전보장회의의 조직·직무범위 기타 필요한 사항은
                                    법률로 정한다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">주택</a> &middot; <a href="#!">8월 2일 2016년</a></span>
                            </div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">주택 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기
                                    위하여 선거관리위원회를 둔다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">창고</a> &middot; <a href="#!">6월 29일 2016년</a></span>
                            </div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">창고 증설 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의
                                    책임이 면제되지는 아니한다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">아파트</a> &middot; <a
                                    href="#!">7월 14일 2016년</a></span></div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">아파트 시설물 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령으로 선거될 수 있는 자는 국회의원의 피선거권이 있고 선거일 현재 40세에 달하여야 한다. 모든 국민은 양심의 자유를 가진다. 국회의원은 그
                                    지위를 남용하여 국가·공공단체 또는 기업체와의 계약이나 그 처분에 의하여 재산상의 권리·이익 또는 직위를 취득하거나 타인을 위하여 그 취득을 알선할 수
                                    없다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">아파트</a> &middot; <a
                                    href="#!">11월 6일 2016년</a></span></div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">아파트 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 국가안전보장회의의 조직·직무범위 기타 필요한 사항은
                                    법률로 정한다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">주택</a> &middot; <a href="#!">8월 2일 2016년</a></span>
                            </div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">주택 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기
                                    위하여 선거관리위원회를 둔다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">창고</a> &middot; <a href="#!">6월 29일 2016년</a></span>
                            </div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">창고 증설 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의
                                    책임이 면제되지는 아니한다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <div class="col-md-8 col-md-offset-2 margin-top-small">
                        <article class="blog-post">
                            <div class="blog-post-info"><span><a href="#!">아파트</a> &middot; <a
                                    href="#!">7월 14일 2016년</a></span></div>
                            <div class="blog-post-details">
                                <h3><a href="blog-single.html">아파트 시설물 인테리어 견적 문의</a></h3>
                                <p class="text-justify">
                                    대통령으로 선거될 수 있는 자는 국회의원의 피선거권이 있고 선거일 현재 40세에 달하여야 한다. 모든 국민은 양심의 자유를 가진다. 국회의원은 그
                                    지위를 남용하여 국가·공공단체 또는 기업체와의 계약이나 그 처분에 의하여 재산상의 권리·이익 또는 직위를 취득하거나 타인을 위하여 그 취득을 알선할 수
                                    없다.
                                </p><a href="blog-single.html" class="btn btn-link">더보기</a>
                            </div>
                            <hr/>
                        </article>
                    </div>
                    <!-- PAGINATION -->
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="pagination">
                            <li><a href="#!">1</a></li>
                            <li><a href="#!">2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo"
                                         class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>WEBSORI</h3>
                        <p>
                            대통령·국무총리·국무위원·행정각부의 장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이
                            그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다.
                        </p><a href="#!" class="btn btn-link btn-link-white">회사소개</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a
                                href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>구독하기</h3>
                        <p>프로젝트 구독을 원하신다면 <br> 이메일을 입력해 주세요.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="E-MAIL" class="form-control"/>
                        <button>확인</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-->

<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="assets/js/slider-initialization.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.navigation.min.js"></script>
</body>
</html>