<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WEBSORI</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/androidassets/images/favicon-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" media="all"/>
</head>
<body>

<!-- HEADER -->
<header class="main-navigation">
    <div class="container-fluid">
        <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png"
                                                                     alt="Logo" class="img-circle"/></a></div>
        <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a
                href="#!" class="search"></a></div>
    </div>
    <!-- NAV -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
        <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
        <div id="cssmenu">
            <ul>
                <li><a href="index.html" class="has-sub"> 메인으로</a></li>
                <li><a href="about.html" class="has-sub"> 회사소개</a></li>
                <li><a href="port-list.html" class="has-sub">프로젝트</a></li>
                <li><a href="board.html" class="has-sub">문의하기</a></li>
                <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
            </ul>
            <span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
        </div>
    </nav>
</header>
<!-- HEADER -->


<div style="background-image: url(../res/image/arch/header-7.jpg)"
     class="container-fluid relative background-image-center">
    <div class="section-overlay"></div>
    <div class="row">
        <div class="height-50 aligner"><a href="#section-to-scroll" class="scroll-down-icon">SCROLL</a>
            <div class="col-md-6 line-left">
                <div class="text-block header alternative">
                    <h1>Contact.</h1>
                </div>
            </div>
            <div class="col-md-3 line-left">
                <div class="text-block alternative">
                    <div class="line-thick"></div>
                </div>
                <div class="header-secondary"><a href="index.html">HOME </a><span>/ CONTACT</span></div>
            </div>
        </div>
    </div>
</div>
<section id="section-to-scroll" class="section section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.01</span>
                            <h3>찾아오시는 길</h3>
                        </div>
                    </div>
                    <div class="col-md-6 padded">
                        <div class="text-block">
                            <h5>여는 시간</h5>
                            <p class="no-margin"> 대통령으로 선거될 수 있는 자는 국회의원의 피선거권이 있고 선거일 현재 40세에 달하여야 한다. </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="icon-block"><i class="icon-telephone"></i>
                                    <h4>전화</h4>
                                    <p class="text-justify">지방자치단체는 주민의 복리에 관한 사무를 처리.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-block"><i class="icon-map1"></i>
                                    <h4>위치</h4>
                                    <p class="text-justify">대법원과 각급법원의 조직은 법률로 정함.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-nopadding section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div data-os-animation="fadeIn" data-os-animation-delay="0s" class="col-md-12 os-animation">
                <div id="map" style="height: 500px" class="google-map"></div>
            </div>
        </div>
    </div>
</section>
<section data-os-animation="fadeIn" data-os-animation-delay="0s" class="section section-white os-animation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div data-os-animation="fadeIn" data-os-animation-delay="0s"
                         class="col-md-8 col-md-offset-2 os-animation">
                        <form id="contact_form" method="POST" class="contact-form">
                            <input type="text" name="name" placeholder="이름" class="form-control"/>
                            <input type="email" name="email" placeholder="E-MAIL" class="form-control"/>
                            <textarea placeholder="내용" name="message" class="form-control"></textarea>
                            <button type="submit" class="contact-form-submit">메세지 보내기</button>
                            <div id="messages" class="col-md-12"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo"
                                         class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>WEBSORI</h3>
                        <p>
                            대통령·국무총리·국무위원·행정각부의 장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이
                            그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다.
                        </p><a href="#!" class="btn btn-link btn-link-white">회사소개</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a
                                href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>구독하기</h3>
                        <p>프로젝트 구독을 원하신다면 <br> 이메일을 입력해 주세요.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="E-MAIL" class="form-control"/>
                        <button>확인</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-->

<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>