<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WEBSORI</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/androidassets/images/favicon-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" media="all"/>

    <!-- FONT -->
    <!--<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>

    <!-- CUSTOM -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css" media="all"/>
</head>
<body>

<!-- HEADER -->
<header class="main-navigation">
    <div class="container-fluid">
        <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png"
                                                                     alt="Logo" class="img-circle"/></a></div>
        <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a
                href="#!" class="search"></a></div>
    </div>
    <!-- NAV -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
        <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
        <div id="cssmenu">
            <ul>
                <li><a href="index.html" class="has-sub"> 메인으로</a></li>
                <li><a href="about.html" class="has-sub"> 회사소개</a></li>
                <li><a href="port-list.html" class="has-sub">프로젝트</a></li>
                <li><a href="board.html" class="has-sub">문의하기</a></li>
                <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
            </ul>
            <span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
        </div>
    </nav>
</header>
<!-- HEADER -->

<div id="home-slider">
    <div class="rev_slider_wrapper header-introduction text-center">
        <!-- SILDER 1200x600 -->
        <div id="rev_slider_1" data-version="5.0" class="rev_slider">
            <ul>
                <li data-transition="slideoverleft">
                    <img src="../res/image/arch/header-1.jpg" alt="Slider Image"/>
                    <div class="section-overlay"></div>
                    <div data-x="left" data-y="center" data-hoffset="0"
                         data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption padding-left">
                        <div class="text-block header alternative text-left">
                            <div class="slider-line"></div>
                            <h1 class="ff-shs">WebSori.</h1>
                        </div>
                    </div>
                    <div data-x="right" data-y="center" data-hoffset="300"
                         data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption">
                        <div class="text-block alternative line-hidden">
                            <div class="slider-line"></div>
                            <div class="line-thick"></div>
                        </div>
                    </div>
                    <div data-x="right" data-y="bottom" data-hoffset="265" data-voffset="15"
                         data-transform_in="x:50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption">
                        <a href="index.html" class="btn btn-link btn-link-white">HOME</a>
                    </div>
                </li>
                <li data-transition="slideoverleft">
                    <img src="../res/image/arch/header-2.jpg" alt="Slider Image"/>
                    <div class="section-overlay"></div>
                    <div data-x="left" data-y="center" data-hoffset="0"
                         data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption padding-left">
                        <div class="text-block header alternative text-left">
                            <div class="slider-line"></div>
                            <h1>Modern.</h1>
                        </div>
                    </div>
                    <div data-x="right" data-y="center" data-hoffset="300"
                         data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption">
                        <div class="text-block alternative line-hidden">
                            <div class="slider-line"></div>
                            <div class="line-thick"></div>
                        </div>
                    </div>
                    <div data-x="right" data-y="bottom" data-hoffset="265" data-voffset="15"
                         data-transform_in="x:50;opacity:0s:00;s:400;e:Power2.easeInOut;"
                         data-transform_out="x:50;opacity:0s:400;s:400;e:Power2.easeInOut;" data-start="800"
                         class="tp-caption">
                        <a href="port-list.html" class="btn btn-link btn-link-white">PROJECT</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="section section-short-top section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.01</span>
                            <h3>현대식 인테리어</h3>
                        </div>
                    </div>
                    <div class="col-md-12 padded">
                        <div class="text-block">
                            <h5 class="ff-shs">웹소리의 인테리어는 최고만을 고집합니다.</h5>
                            <p class="ff-shs no-margin"> 웹소리의 인테리어는 고객의 편안함을 추구합니다. 웹소리의 인테리어는 고객의 편안함을 추구합니다.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="masonry-grid row">
                            <div class="masonry-grid-item col-md-6"><a href="port-item.html">
                                <!-- 800x1200 -->
                                <img src="../res/image/arch/in-ver-01.jpg" alt="Portfolio Image"/>
                                <div class="masonry-item-overlay">
                                    <div class="masonry-item-overlay-inner aligner">
                                        <div class="text-center">
                                            <h2>WEBSORI</h2>
                                            <p>INTERIOR DESIGN</p><span></span>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                            <div class="masonry-grid-item col-md-6"><a href="port-item.html">
                                <!-- 800x587 -->
                                <img src="../res/image/arch/in-01.jpg" alt="Portfolio Image"/>
                                <div class="masonry-item-overlay">
                                    <div class="masonry-item-overlay-inner aligner">
                                        <div class="text-center">
                                            <h2>WEBSORI</h2>
                                            <p>INTERIOR DESIGN</p><span></span>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                            <div class="masonry-grid-item col-md-6"><a href="port-item.html">
                                <!-- 800x587 -->
                                <img src="../res/image/arch/in-01.jpg" alt="Portfolio Image"/>
                                <div class="masonry-item-overlay">
                                    <div class="masonry-item-overlay-inner aligner">
                                        <div class="text-center">
                                            <h2>WEBSORI</h2>
                                            <p>INTERIOR DESIGN</p><span></span>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        </div>
                    </div>
                    <div class="col-md-12"><a href="#!" class="btn btn-link">프로젝트 보러가기</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION 1 -->
<section class="section section-tiny section-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row aligner">
                    <div class="col-md-6">
                        <div class="text-block"><span>ARCHITEKT</span>
                            <h3>맞춤형 건축 시스템</h3>
                            <p class="text-justify ff-shs">
                                국가는 평생교육을 진흥하여야 한다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의 책임이 면제되지는 아니한다.

                                대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일 정책을 수립하고 이를 추진한다.
                                체포·구속·압수 또는 수색을 할 때에는 적법한 절차에 따라 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다.
                                다만, 현행범인인 경우와 장기 3년 이상의 형에 해당하는 죄를 범하고 도피 또는 증거인멸의 염려가 있을 때에는 사후에 영장을 청구할 수 있다.
                            </p>
                            <a href="#!" class="btn btn-link btn-link-white margin-top">회사소개</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right small-screen-no-negative-margin small-screen-margin-top">
                        <img src="../res/image/websori/18.jpg" alt="Banner image" class="center-block"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION 2 -->
<section class="section section-tiny section-black section-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row aligner">
                    <div class="col-md-6 text-left small-screen-no-negative-margin">
                        <img src="../res/image/websori/21.jpg" alt="Banner image" class="center-block"/>
                    </div>
                    <div class="col-md-6">
                        <div class="text-block"><span>AWARDED AGENCY</span>
                            <h3>체계적 모니터링 시스템</h3>
                            <p class="text-justify">헌법개정안은 국회가 의결한 후 30일 이내에 국민투표에 붙여 국회의원선거권자 과반수의 투표와 투표자 과반수의 찬성을 얻어야 한다.
                                대통령은 내란 또는 외환의 죄를 범한 경우를 제외하고는 재직중 형사상의 소추를 받지 아니한다.

                                신체장애자 및 질병·노령 기타의 사유로 생활능력이 없는 국민은 법률이 정하는 바에 의하여 국가의 보호를 받는다.
                                대통령이 궐위된 때 또는 대통령 당선자가 사망하거나 판결 기타의 사유로 그 자격을 상실한 때에는 60일 이내에 후임자를 선거한다.
                            </p>
                            <a href="#!" class="btn btn-link btn-link-white margin-top">프로젝트 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AWARD  -->
<section class="section section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.02</span>
                            <h3>수상경력</h3>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="text-block">
                            <p class="text-justify">
                                형사피해자는 법률이 정하는 바에 의하여 당해 사건의 <strong>재판절차</strong>에서 진술할 수 있다.
                                국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다.
                            </p>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                        </div>
                    </div>
                    <div class="col-md-7 text-right small-screen-text-left">
                        <div class="row">
                            <div class="col-md-4 padding-top small-screen-margin-bottom"><span
                                    class="counter award-counter">987</span>
                                <div class="text-block margin-top-small">
                                    <h4> 상담 문의</h4>
                                </div>
                            </div>
                            <div class="col-md-4 padding-top small-screen-margin-bottom"><span
                                    class="counter award-counter">350</span>
                                <div class="text-block margin-top-small">
                                    <h4> 이용 고객</h4>
                                </div>
                            </div>
                            <div class="col-md-4 padding-top small-screen-margin-bottom"><span
                                    class="counter award-counter">121</span>
                                <div class="text-block margin-top-small">
                                    <h4> 완공 사례</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PORT -->
<!--<section class="section section-short section-line-banner">-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-md-6 col-md-offset-3">-->
<!--<div class="row desktop-aligner">-->
<!--<div class="col-md-8">-->
<!--<div class="text-block"><span>DO YOU WANT MORE?</span>-->
<!--<h3>CHECK OUT OUR FULL PROJECT LIST</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 text-center"><a href="port-list.html" class="btn btn-danger">PORTFOLIO</a></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!-- CLIENT  -->
<section class="section section-short">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-head"><span class="fs-18 fw-300">협력 업체</span></div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3 col-xs-6"><img src="../res/image/brand/brand-01.jpg" alt="Client Logo"
                                                        width="150" class="center-block small-screen-margin-top"/></div>
                    <div class="col-md-3 col-xs-6"><img src="../res/image/brand/brand-02.jpg" alt="Client Logo"
                                                        width="150" class="center-block small-screen-margin-top"/></div>
                    <div class="col-md-3 col-xs-6"><img src="../res/image/brand/brand-03.jpg" alt="Client Logo"
                                                        width="150" class="center-block small-screen-margin-top"/></div>
                    <div class="col-md-3 col-xs-6"><img src="../res/image/brand/brand-04.jpg" alt="Client Logo"
                                                        width="150" class="center-block small-screen-margin-top"/></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo"
                                         class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>WEBSORI</h3>
                        <p>
                            대통령·국무총리·국무위원·행정각부의 장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이
                            그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다.
                        </p><a href="#!" class="btn btn-link btn-link-white">회사소개</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a
                                href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>구독하기</h3>
                        <p>프로젝트 구독을 원하신다면 <br> 이메일을 입력해 주세요.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="E-MAIL" class="form-control"/>
                        <button>확인</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-->

<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="assets/js/slider-initialization.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/js/revslider-extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/js/include.js"></script>
</body>
</html>