<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>WEBSORI</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/androidassets/images/favicon-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="assets/css/theme.css" type="text/css" media="all"/>
</head>
<body>

<!-- HEADER -->
<header class="main-navigation">
    <div class="container-fluid">
        <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png"
                                                                     alt="Logo" class="img-circle"/></a></div>
        <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a
                href="#!" class="search"></a></div>
    </div>
    <!-- NAV -->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
        <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
        <div id="cssmenu">
            <ul>
                <li><a href="index.html" class="has-sub"> 메인으로</a></li>
                <li><a href="about.html" class="has-sub"> 회사소개</a></li>
                <li><a href="port-list.html" class="has-sub">프로젝트</a></li>
                <li><a href="board.html" class="has-sub">문의하기</a></li>
                <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
            </ul>
            <span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
        </div>
    </nav>
</header>
<!-- HEADER -->

<div style="background-image: url(../res/image/arch/header-5.jpg)" class="container-fluid relative background-image-center">
    <div class="section-overlay"></div>
    <div class="row">
        <div class="height-50 aligner"><a href="#section-to-scroll" class="scroll-down-icon">SCROLL</a>
            <div class="col-md-6 line-left">
                <div class="text-block header alternative">
                    <h1>Project Detail.</h1>
                </div>
            </div>
            <div class="col-md-3 line-left">
                <div class="text-block alternative">
                    <div class="line-thick"></div>
                </div>
                <div class="header-secondary"><a href="index.html">HOME </a><span>/ PROJECT</span></div>
            </div>
        </div>
    </div>
</div>
<section id="section-to-scroll" class="section section-semi-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head"><span>.01</span>
                            <h3>인테리어 디자인</h3>
                        </div>
                    </div>
                    <div class="col-md-4 padded">
                        <div class="text-block">
                            <p class="no-margin"> 대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 국가안전보장회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="icon-block"><i class="icon-upload2"></i>
                                    <h4>상태</h4>
                                    <p class="text-justify">우수함 / 깨끗함</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-block"><i class="icon-user1"></i>
                                    <h4>고객</h4>
                                    <p class="text-justify">NYCity / SeoulCity.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top"><img src="../res/image/arch/print-01.jpg" alt="Portfolio image"/>
                    </div>
                    <div class="col-md-12 margin-top"><img src="../res/image/arch/print-02.jpg" alt="Portfolio image"/>
                    </div>
                    <div class="col-md-6 col-md-offset-3 margin-top-big">
                        <blockquote>"디자인은 아무것도 없는 곳에 무언가를 넣어 시간과 공간을 만드는 것이다. "
                            <small>크리스티아노 호날두</small>
                        </blockquote>
                    </div>
                    <div class="col-md-4 margin-top">
                        <div class="zoom-gallery"><a href="assets/images/websori/s1.jpg"
                                                     data-source="assets/images/websori/s1.jpg"><img
                                src="../res/image/arch/in-03.jpg" alt="Portfolio popup"/></a></div>
                    </div>
                    <div class="col-md-4 margin-top">
                        <div class="zoom-gallery"><a href="assets/images/websori/s1.jpg"
                                                     data-source="assets/images/websori/s1.jpg"><img
                                src="../res/image/arch/in-01.jpg" alt="Portfolio popup"/></a></div>
                    </div>
                    <div class="col-md-4 margin-top">
                        <div class="zoom-gallery"><a href="assets/images/websori/s1.jpg"
                                                     data-source="assets/images/websori/s1.jpg"><img
                                src="../res/image/arch/in-02.jpg" alt="Portfolio popup"/></a></div>
                    </div>
                    <div class="col-md-12 margin-top">
                        <ul class="work-post-social">
                            <li><a href="#!">TWITTER</a></li>
                            <li><a href="#!">FACEBOOK</a></li>
                            <li><a href="#!">GOOGLE PLUS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo"
                                         class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>WEBSORI</h3>
                        <p>
                            대통령·국무총리·국무위원·행정각부의 장·헌법재판소 재판관·법관·중앙선거관리위원회 위원·감사원장·감사위원 기타 법률이 정한 공무원이
                            그 직무집행에 있어서 헌법이나 법률을 위배한 때에는 국회는 탄핵의 소추를 의결할 수 있다.
                        </p><a href="#!" class="btn btn-link btn-link-white">회사소개</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a
                                href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>구독하기</h3>
                        <p>프로젝트 구독을 원하신다면 <br> 이메일을 입력해 주세요.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="E-MAIL" class="form-control"/>
                        <button>확인</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-->

<script src="assets/js/packages.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/map.js"></script>
<script src="assets/js/contact.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>