
/*
    font
*/
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.ff-shs {
    font-family: 'Spoqa Han Sans'
}

.ff-shsJP {
    font-family: 'Spoqa Han Sans JP'
}

.ff-ss {
    font-family: 'Sans-serif'
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fs-18 {
    font-size : 18px !important;
}


/*
    index.html
*/






/*
    about.html
*/