<footer class="container-fluid relative">
    <div class="row">
        <div class="footer-aligner"><img src="assets/images/logo/logo-white.png" width="50" alt="Footer logo" class="footer-logo img-circle"/>
            <div class="col-md-6 footer-line-left">
                <div class="padding-footer">
                    <div class="text-block footer header alternative">
                        <h3>ARCHITEKT</h3>
                        <p>We are an award-winning, modern and friendly architecture agency. With the newest technologies possible, and our every day evolving we guarantee a result that will keep you satisfied.</p><a href="#!" class="btn btn-link btn-link-white">ABOUT US</a>
                    </div>
                    <div class="text-block margin-top-big">
                        <p class="copyright">COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-line-left">
                <div class="padding-footer small-screen-no-padding-top small-screen-margin-top">
                    <div class="text-block footer alternative">
                        <h3>NEWSLETTER</h3>
                        <p>Get our news and latest project, first. In your mailbox. Monthly.</p>
                    </div>
                    <form action="#!" class="newsletter-form">
                        <input type="text" placeholder="YOU'R E-MAIL ADDRESS" class="form-control"/>
                        <button>GO</button>
                        <div class="clearfix"></div>
                        <p>No spam, ever.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>