<div class="container-fluid">
    <div class="col-xs-4"><a href="index.html" class="logo"><img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a></div>
    <div class="col-xs-8 text-right"><a href="#!" id="nav-toggle" class="menu-right toggle-menu"><span></span></a><a href="#!" class="search"></a></div>
</div>
<!-- NAV -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"><a href="index.html" class="logo">
    <img src="../res/image/websori/logo-icon-03.png" alt="Logo" class="img-circle"/></a>
    <div id="cssmenu">
        <ul>
            <li><a href="index.html" class="has-sub"> 메인으로</a></li>
            <li><a href="about.html" class="transition link"> 회사소개</a></li>
            <li><a href="#!" class="has-sub">포트폴리오</a>
                <ul>
                    <li><a href="port-list-1.html" class="transition link"> 한 눈에 보기</a></li>
                    <li><a href="port-list-2.html" class="transition link"> 크게 보기</a></li>
                </ul>
            </li>
            <li><a href="board.html" class="has-sub">문의게시판</a></li>
            <li><a href="contact.html" class="has-sub">찾아오시는 길</a></li>
        </ul><span> Copyrights &copy; 2017 &middot; Created by <a href="http://websori.co.kr/">Websori</a></span>
    </div>
</nav>