footer.container-fluid.relative
		.row
			.footer-aligner
				img(src="assets/images/logo/logo-white.png", width="50", alt="Footer logo").footer-logo.img-circle
				.col-md-6.footer-line-left
					.padding-footer
						.text-block.footer.header.alternative
							h3 ARCHITEKT
							p We are an award-winning, modern and friendly architecture agency. With the newest technologies possible, and our every day evolving we guarantee a result that will keep you satisfied.
							a(href="#!").btn.btn-link.btn-link-white ABOUT US
						.text-block.margin-top-big
							p.copyright COPYRIGHTS &copy; 2016 &middot; <a href="#!">TWITTER </a>&nbsp;<a href="#!">FACEBOOK</a> <a href="#!">CAREERS</a> <a href="#!">CONTACT</a> 
				.col-md-3.footer-line-left
					.padding-footer.small-screen-no-padding-top.small-screen-margin-top
						.text-block.footer.alternative
							h3 NEWSLETTER
							p Get our news and latest project, first. In your mailbox. Monthly.
						form(action="#!").newsletter-form
							input(type="text", placeholder="YOU'R E-MAIL ADDRESS").form-control
							button GO
							.clearfix
							p No spam, ever.