<!DOCTYPE html>
html(lang="en")
	head
		include templates/head
	body
		include templates/navigation
		//-include templates/loader
		//-include templates/grid-lines
		.container-fluid.relative(style="background-image: url(assets/images/header-3.jpg)").background-image-center
			.section-overlay
			.row
				.height-50.aligner
					a(href="#section-to-scroll").scroll-down-icon SCROLL
					.col-md-6.line-left
						.text-block.header.alternative
							h1 ABOUT.
					.col-md-3.line-left
						.text-block.alternative
							.line-thick
						.header-secondary 
							a(href="index.html") HOME
							span / ABOUT
		section.section.section-semi-white#section-to-scroll
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .01
									h3 THE STORY
							.col-md-12.padded
								.text-block
									h5 HOW WE BEGAN AND OUR TIMELINE
									p.no-margin  Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:
							.col-md-2
								.story-date
									h2 2015
							.col-md-10.small-screen-margin-top
								.row
									.col-md-6
										.text-block
											h4 WE ARE 10 PEOPLE BIGGER NOW
											p.text-justify We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.
									.col-md-6.text-right.small-screen-text-left
										.text-block
											a(href="#!").btn.btn-link YEAR IN REVIEW
											p.text-justify But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.
							.col-md-12.margin-bottom
								hr
							.col-md-2
								.story-date
									h2 2013
							.col-md-10.small-screen-margin-top
								.row
									.col-md-6
										.text-block
											h4 WE GOT THE FIRST BIG AWARD
											p.text-justify We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.
									.col-md-6.text-right.small-screen-text-left
										.text-block
											a(href="#!").btn.btn-link YEAR IN REVIEW
											p.text-justify But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.
							.col-md-12.margin-bottom
								hr
							.col-md-2
								.story-date
									h2 2010
							.col-md-10.small-screen-margin-top
								.row
									.col-md-6
										.text-block
											h4 AN ARCHITECTURE AGENCY BORNED
											p.text-justify We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.
									.col-md-6.text-right.small-screen-text-left
										.text-block
											a(href="#!").btn.btn-link YEAR IN REVIEW
											p.text-justify But we kept going above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face rule above for.
							.col-md-12
								hr
		section.section.section-black
			img(src="assets/images/rotate-img-3.png", width="800" alt="Rotated image").rotating-reverse.rotating-image-3.opacity-01
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .02
									h3 PROCESS
							.col-md-12.padded
								.text-block
									h5 OUR CREATIVE WORKFLOW
									p.no-margin  Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:
							.col-md-4
								.process-block
									i.icon-users
									span #1
									h3 WE DISCUSS
									p  You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was.
							.col-md-4.small-screen-margin-top
								.process-block
									i.icon-lamp
									span #2
									h3 WE THINK
									p  You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was.
							.col-md-4.small-screen-margin-top
								.process-block
									i.icon-pen
									span #3
									h3 WE CREATE
									p  You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was.
		section.section.section-semi-white
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .03
									h3 TEAM
							.col-md-12.padded
								.text-block
									h5 A BUNCH OF CREATIVE PEOPLE
									p.no-margin  Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:
							.col-md-4
								.team-member
									.team-member-image
										.team-member-overlay
										img(src="assets/images/team-1.jpg", alt="Team member image")
									h3 
										a(href="#!") DAVID NAZGHUL
										small CEO
									p.text-justify "But divide please of it under was beast won't fruitful had grass grass under. The above fhey're moving years was of."
									a(href="#!") TWITTER
							.col-md-4.small-screen-margin-top
								.team-member
									.team-member-image
										.team-member-overlay
										img(src="assets/images/team-2.jpg", alt="Team member image")
									h3 
										a(href="#!") JACK O'NIELS
										small CO-FOUNDER 
									p.text-justify "Among is or, divide under was beast won't fruitful had grass grass under. Tuscan above fhey're moving the truth."
									a(href="#!") FACEBOOK
							.col-md-4.small-screen-margin-top
								.team-member
									.team-member-image
										.team-member-overlay
										img(src="assets/images/team-3.jpg", alt="Team member image")
									h3 
										a(href="#!") PATRICIA TROY
										small DESIGNER
									p.text-justify "Please it under was beast won't fruitful had grass grass under. Cake cake above fhey're moving years asus one."
									a(href="#!") BEHANCE
		section.section.section-short.section-line-banner
			.container-fluid
				.row
					.col-md-6.col-md-offset-3
						.row.desktop-aligner
							.col-md-8
								.text-block
									span DO YOU WANT MORE?
									h3 CHECK OUT OUR FULL PROJECT LIST
							.col-md-4.text-center.small-screen-margin-top.small-screen-text-left
								a.btn.btn-danger(href="port-list-2.html") PORTFOLIO
		include templates/footer.jade
		include templates/scripts.jade
		//- include templates/script-slider.jade
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")