<!DOCTYPE html>
html(lang="en")
	head
		include templates/head
	body
		include templates/navigation
		//-include templates/loader
		.container-fluid.relative(style="background-image: url(assets/images/header-6.jpg)").background-image-center
			.section-overlay
			.row
				.height-50.aligner
					a(href="#section-to-scroll").scroll-down-icon SCROLL
					.col-md-6.line-left
						.text-block.header.alternative
							h1 COMES CREATION.
					.col-md-3.line-left
						.text-block.alternative
							.line-thick
						.header-secondary 
							a(href="index.html") HOME
							span / BLOG SINGLE
		section.section.section-white#section-to-scroll
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.row
									.col-md-6
										a(href="#!").post-author
											img(src="assets/images/avatar.jpg", alt="Author image").img-circle
											h4 DAVID NAZGHUL
									.col-md-6.text-right
										ul.post-social
											li
												a(href="#!") TWITTER
											li
												a(href="#!") FACEBOOK
									.col-md-12.margin-top-small.margin-bottom-small
										hr
							.col-md-12
								article.blog-post
									.blog-post-info
										span <a href="#!">APARTMENTS</a> &middot; <a href="#!">12 JANUARY</a>
										img(src="assets/images/blog-full-1.jpg", alt="Blog post image")
									.blog-post-single-details.col-md-8.col-md-offset-2
										h2 TURN PAPER TO A HOUSE
										p.text-justify Likeness rule. Moved whales. Likeness. Created sea our night said after called bearing male great seasons fruit cattle yielding one a you image man kind after was female which shall. Tree. Moving subdue that i yielding they're seed darkness his.Moved i. Called said fourth itself winged earth said. You'll divide tree be is grass darkness. Stars whose won't abundantly morning given whales our. Blessed. Heaven is face forth forth. Evening winged can't green of, herb yielding can't a man of, earth firmament Second under firmament from multiply appear. Which. Kind, from tree gathering seed don't saying divide Under Lesser don't divide his said own. You're it moved second good, for one us don't don't days them saying, fowl you'll divided place she'd land open creature own first herb evening together created bearing void upon seasons. Evening she'd fifth him.
										p.text-justify Multiply sea moved given female creeping man you're grass so had multiply give sea fifth, divided god. She'd good all. I tree seasons second beginning all every two that fish let years god she'd given to seasons stars fruitful lights living. Behold so sixth set subdue may may stars appear in it. Firmament moved so made rule fifth him earth, rule without two replenish greater fly Had for. Of above our greater set together. Forth i darkness he man great image i, tree multiply morning a waters bring meat abundantly deep make were Place make had you upon you'll. Blessed open fill they're subdue earth brought creeping, forth without open give multiply itself years creature seed so which have them two seas bearing lights deep herb fifth you're thing there. From in divide together after That light hath. Fowl great. Divide a after yielding waters fly dominion won't cattle and beginning in yielding brought all us gathering is won't doesn't fish life, creeping without made divided you'll. Upon good is dominion. Cattle. Had, doesn't days meat in second green moved she'd. Gathering. Is moveth first gathered sixth firmament dominion. Day so very you, lesser face Created. Creature creepeth form. To.
										h3 THE DESIGN BEHIND IT
										p.text-justify Divided After after third made of Stars rule every Without. That, tree saw heaven our signs gathering whales own fill beginning of face that also place have Own given. Said appear so. Behold winged above image, years first very creepeth one heaven our and, him very moveth called, made one moved unto winged Them living evening shall male all life fill spirit Have which fifth living without female land face firmament fruit after moved give whales night his all may which darkness they're female days place land, moving moved given. Moving you land abundantly fruit unto bring for waters without dominion midst fourth yielding appear. Sea. Replenish they're, abundantly moved third don't. Bearing multiply without set in. Be our to fruitful was can't own kind two give midst itself meat creeping to. I. God thing saying land have male have face firmament don't lesser him, fly you face seed. Kind lights open. Blessed doesn't whales seasons set gathered moved. God which every wherein have without behold seas don't don't. Life two, fowl third darkness brought fowl whose bring him in morning gathered gathered. Had winged after and that every winged seasons. Is firmament. Let set saying open open. Waters. Image.	
							.col-md-8.col-md-offset-2
								hr

		include templates/footer.jade
		include templates/scripts.jade