<!DOCTYPE html>
html(lang="en")
	head
		include templates/head
	body
		include templates/navigation
		//-include templates/loader
		#home-slider
			.rev_slider_wrapper.header-introduction.text-center
				#rev_slider_1.rev_slider(data-version="5.0")
					ul
						//- SLIDE 1
						li(data-transition="slideoverleft")
							img(src="assets/images/header-1.jpg", alt="Slider Image", width="1920", height="1000")
							.section-overlay
							//- LAYER 1
							.tp-caption.padding-left(data-x="left", data-y="center", data-hoffset="0", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								.text-block.header.alternative.text-left
									.slider-line
									h1 ARCHITEKT.
							//- LAYER 2					
							//- .tp-caption(data-x="left", data-y="center", data-hoffset="-200", data-voffset="70", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
							//- 	a.btn.btn-link(href="#!").margin-top CTA
							//- LAYER 3
							.tp-caption(data-x="right", data-y="center", data-hoffset="300", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								.text-block.alternative.line-hidden
									.slider-line
									.line-thick
							//- LAYER 4
							.tp-caption(data-x="right", data-y="bottom", data-hoffset="265", data-voffset="15" data-transform_in="x:50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								a(href="about.html").btn.btn-link.btn-link-white ABOUT US
						//- SLIDE 2
						li(data-transition="slideoverright")
							img(src="assets/images/header-2.jpg", alt="Slider Image", width="1920", height="1000")
							.section-overlay
							//- LAYER 1
							.tp-caption.padding-left(data-x="left", data-y="center", data-hoffset="0", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								.text-block.header.alternative.text-left
									.slider-line
									h1 LINE PERFECTION.
							//- LAYER 2					
							//- .tp-caption(data-x="left", data-y="center", data-hoffset="-200", data-voffset="70", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
							//- 	a.btn.btn-link(href="#!").margin-top CTA
							//- LAYER 3
							.tp-caption(data-x="right", data-y="center", data-hoffset="300", data-transform_in="x:-50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:-50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								.text-block.alternative.line-hidden
									.slider-line
									.line-thick
							//- LAYER 4
							.tp-caption(data-x="right", data-y="bottom", data-hoffset="258", data-voffset="15" data-transform_in="x:50;opacity:0s:00;s:400;e:Power2.easeInOut;", data-transform_out="x:50;opacity:0s:400;s:400;e:Power2.easeInOut;", data-start="800")
								a(href="port-list.html").btn.btn-link.btn-link-white OUR WORK
		section.section.section-short-top.section-semi-white
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .01
									h3 THE STUDIO
							.col-md-12.padded
								.text-block
									h5 INTERIOR AND EXTERIOR ARCHITECTURE
									p.no-margin  Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:
							.col-md-12
								.masonry-grid.row
									.masonry-grid-item.col-md-6
										a(href="portfolio-single.html")
											img(src="assets/images/portfolio-masonry-1.jpg", alt="Portfolio Image")
											.masonry-item-overlay.background-color-3
												.masonry-item-overlay-inner.aligner
													.text-center
														h2 LUXURY HOUSE
														p INTERIOR DESIGN
														span
									.masonry-grid-item.col-md-6
										a(href="portfolio-single.html")
											img(src="assets/images/portfolio-masonry-2.jpg", alt="Portfolio Image")
											.masonry-item-overlay
												.masonry-item-overlay-inner.aligner
													.text-center
														h2 LUXURY HOUSE
														p INTERIOR DESIGN
														span		
									.masonry-grid-item.col-md-6
										a(href="portfolio-single.html")
											img(src="assets/images/portfolio-masonry-3.jpg", alt="Portfolio Image")
											.masonry-item-overlay.background-color-3
												.masonry-item-overlay-inner.aligner
													.text-center
														h2 LUXURY HOTEL
														p INTERIOR DESIGN
														span
							.col-md-12
								a(href="#!").btn.btn-link OUR PROJECTS
		section.section.section-tiny.section-black
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row.aligner
							.col-md-6
								.text-block
									span ARCHITEKT
									h3 AN ARCHITECTURE AGENCY
									p.text-justify Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under. They're moving years was of.
									a.btn.btn-link.btn-link-white.margin-top(href="#!") ABOUT
							.col-md-6.negative-margin-top-50.text-right.small-screen-no-negative-margin.small-screen-margin-top
								img(src="assets/images/banner-1.png", alt="Banner image").center-block
		section.section.section-tiny.section-black.section-banner
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row.aligner
							.col-md-6.negative-margin-bottom-150.text-left.small-screen-no-negative-margin
								img(src="assets/images/banner-2.png", alt="Banner image").center-block
							.col-md-6
								.text-block
									span AWARDED AGENCY
									h3 WE'VE GOT A LOT OF AWARDS
									p.text-justify Morning above morning wherein give won't gathering Stars under gathered third lights living open creeping. Second above may own made replenish, so let us gathering made dry third itself very all have form likeness whose day us moved winged isn't brought lights air creeping blessed. Said green for give life give made shall he fly likeness whose fowl own don't. So fowl hath. Void creepeth one moving moveth seed. Was herb moving whales moving, saying. Subdue and saw.
									a.btn.btn-link.btn-link-white(href="#!").margin-top SERVICES
		section.section.section-white
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .02
									h3 BLOG
							.col-md-4.margin-top
								article.blog-post
									.blog-post-info
										span <a href="#!">MARKETING</a> &middot; <a href="#!">22 JANUARY</a>
									a(href="blog-single.html")
										img(src="assets/images/blog-1.jpg", alt="Blog post image")
									.blog-post-details
										h3
											a(href="blog-single.html") MAKE IT BEATIFUL
										p.text-justify Likeness rule. Moved whales. Likeness. Created sea our night said after called bearing male great seasons fruit cattle yielding one a you image man kind after was female which shall. Tree. Moving subdue that i yielding they're seed darkness his.
										a.btn.btn-link(href="blog-single.html") READ MORE
									hr
							.col-md-4.margin-top
								article.blog-post
									.blog-post-info
										span <a href="#!">AWARDS</a> &middot; <a href="#!">25 JANUARY</a>
									a(href="blog-single.html")
										img(src="assets/images/blog-2.jpg", alt="Blog post image")
									.blog-post-details
										h3
											a(href="blog-single.html") THE PERFECT STRATEGY
										p.text-justify Likeness rule. Moved whales. Likeness. Created sea our night said after called bearing male great seasons fruit cattle yielding one a you image man kind after was female which shall. Tree. Moving subdue that i yielding they're seed darkness his.
										a.btn.btn-link(href="blog-single.html") READ MORE
									hr
							.col-md-4.margin-top
								article.blog-post
									.blog-post-info
										span <a href="#!">ARCHITECTURE DESIGN</a> &middot; <a href="#!">26 JANUARY</a>
									a(href="blog-single.html")
										img(src="assets/images/blog-3.jpg", alt="Blog post image")
									.blog-post-details
										h3
											a(href="blog-single.html") COMES CREATION
										p.text-justify Likeness rule. Moved whales. Likeness. Created sea our night said after called bearing male great seasons fruit cattle yielding one a you image man kind after was female which shall. Tree. Moving subdue that i yielding they're seed darkness his.
										a.btn.btn-link(href="blog-single.html") READ MORE
									hr
		section.section.section-short.section-line-banner
			.container-fluid
				.row
					.col-md-6.col-md-offset-3
						.row.desktop-aligner
							.col-md-8
								.text-block
									span DO YOU WANT MORE?
									h3 CHECK OUT OUR FULL PROJECT LIST
							.col-md-4.text-center
								a.btn.btn-danger(href="port-list.html") PORTFOLIO
		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")