<!DOCTYPE html>
html(lang="en")
	head
		include templates/head
	body
		include templates/navigation
		//-include templates/loader
		//-include templates/grid-lines
		.container-fluid.relative(style="background-image: url(assets/images/header-9.jpg)").background-image-center
			.section-overlay
			.row
				.height-50.aligner
					a(href="#section-to-scroll").scroll-down-icon SCROLL
					.col-md-6.line-left
						.text-block.header.alternative
							h1 GRID.
					.col-md-3.line-left
						.text-block.alternative
							.line-thick
						.header-secondary 
							a(href="index.html") HOME
							span / PORTFOLIO-GRID
		section.section.section-semi-white#section-to-scroll
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .01
									h3 OUR PROJECTS
							.col-md-12.padded
								.text-block
									h5 TOP RATED PROJECTS
									p.no-margin  Our work presented in a 3 columns-grid style
							.col-md-12
								.grid-wrap.row
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-2.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-3.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-4.jpg", alt="Portfolio Image")
												.masonry-item-overlay.background-color-3
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-5.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-1.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-6.jpg", alt="Portfolio Image")
												.masonry-item-overlay.background-color-3
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-7.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-8.jpg", alt="Portfolio Image")
												.masonry-item-overlay
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
									.col-lg-4.os-animation(data-os-animation="fadeIn" data-os-animation-delay="0s").margin-top
										.grid-item
											a(href="portfolio-single.html")
												img(src="assets/images/portfolio-grid-9.jpg", alt="Portfolio Image")
												.masonry-item-overlay.background-color-3
													.masonry-item-overlay-inner.aligner
														.text-center
															h2 LUXURY HOUSE
															p INTERIOR DESIGN
															span
		include templates/footer.jade
		include templates/scripts.jade
		//- include templates/script-slider.jade
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")