<!DOCTYPE html>
html(lang="en")
	head
		include templates/head
	body
		include templates/navigation
		//-include templates/loader
		//-include templates/grid-lines
		.container-fluid.relative(style="background-image: url(assets/images/header-11.jpg)").background-image-center
			.section-overlay
			.row
				.height-50.aligner
					a(href="#section-to-scroll").scroll-down-icon SCROLL
					.col-md-6.line-left
						.text-block.header.alternative
							h1 SERVICES.
					.col-md-3.line-left
						.text-block.alternative
							.line-thick
						.header-secondary 
							a(href="index.html") HOME
							span / SERVICES
		section.section.section-semi-white#section-to-scroll
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .01
									h3 SPECIALITIES
							.col-md-12.padded
								.text-block
									h5 REMARKABLY PERFECT SKILLS
									p.no-margin  Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have:
							.col-md-4
								.icon-block
									i.icon-lecturer
									h4 INTERIOR DESIGN
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
							.col-md-4.small-screen-margin-top
								.icon-block
									i.icon-house
									h4 EXTERIOR DESIGN
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
							.col-md-4.small-screen-margin-top
								.icon-block
									i.icon-bag
									h4 BUSSINESS PLAN
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
							.col-md-4.margin-top
								.icon-block
									i.icon-badge
									h4 AWARDED AGENCY
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
							.col-md-4.margin-top
								.icon-block
									i.icon-heart
									h4 LOVELY PEOPLE
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
							.col-md-4.margin-top
								.icon-block
									i.icon-eye
									h4 MODERN SKILLS
									p.text-justify We us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under.
		section.section.section-short.section-banner
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-6
								.text-block
									span ARCHITEKT
									h3 AN ARCHITECTURE AGENCY
									p.text-justify.margin-bottom.margin-top Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was beast won't fruitful had grass grass under. They're moving years was of.					
									a.btn.btn-link.btn-link-white(href="port-list-2.html") PROJECTS
							.col-md-6.text-right.negative-margin-top-100.negative-margin-bottom-100.small-screen-no-negative-margin.small-screen-margin-top
								img(src="assets/images/banner-3.png", alt="Banner image")
		section.section.section-semi-white
			.container-fluid
				.row
					.col-md-8.col-md-offset-2
						.row
							.col-md-12
								.section-head
									span .03
									h3 AWARDS
							.col-md-5
								.text-block
									p.text-justify Land abundantly above subdue, called hath give fourth. Them one over saying. So the god, <strong>our agency</strong>. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above for, divide under was. Land abundantly above subdue, called hath give fourth.
									i.icon-star3
									i.icon-star3
									i.icon-star3
									i.icon-star3
									i.icon-star3
							.col-md-7.text-right.small-screen-text-left
								.row
									.col-md-4.padding-top.small-screen-margin-bottom
										span.counter.award-counter 21
										.text-block.margin-top-small
											h4  RIBA AWARDS
									.col-md-4.padding-top.small-screen-margin-bottom
										span.counter.award-counter 350
										.text-block.margin-top-small
											h4  CLIENTS
									.col-md-4.padding-top.small-screen-margin-bottom
										span.counter.award-counter 987
										.text-block.margin-top-small
											h4  PROTOTYPES
		section.section.section-short.section-line-banner
			.container-fluid
				.row
					.col-md-12.text-center
						.section-head
							span CLIENTS	
					.col-md-8.col-md-offset-2
						.row
							.col-md-3.col-xs-6
								img(src="assets/images/logo1.png", alt="Client Logo" width="150").center-block.small-screen-margin-top
							.col-md-3.col-xs-6
								img(src="assets/images/logo2.png", alt="Client Logo" width="150").center-block.small-screen-margin-top
							.col-md-3.col-xs-6
								img(src="assets/images/logo3.png", alt="Client Logo" width="150").center-block.small-screen-margin-top
							.col-md-3.col-xs-6
								img(src="assets/images/logo4.png", alt="Client Logo" width="150").center-block.small-screen-margin-top
		include templates/footer.jade
		include templates/scripts.jade
		//- include templates/script-slider.jade
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		//- script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")